.homeBox {
    background-color: #f0f0f0;
    border: solid 1px #dddddd;
    width: 46%;
    cursor: hand;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 6px;
    float: right;
    padding-right: 20px;
}

.awayBox {
    background-color: #f0f0f0;
    border: solid 1px #dddddd;
    width: 46%;
    cursor: hand;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 6px;
    float: left;
    padding-right: 20px;
}

.homeBox, .awayBox {
    width: 49.5%;
}


.homeBox img, .awayBox img {
    max-width: 65px;
    padding-left: 10px;
    padding-right: 10px;
}

.teamName {
    display: inline;
    font-size: 15px;
}

.teamRecord {
    color: #888888;
    font-size: 11px;
}

.teamLocation{
    color: #888888;
    font-size: 11px;
    display: block;
}

.h {
    max-width: 65px;
}