#advOptionsBtn {
    float: right;
    margin-top: 15px;
}


#ytdTable th, #ytdUser th, #weekUser th {
    padding: 8px;
    text-align: center;
    padding-right: 11px;
}

#ytdTable td, #ytdUser td, #weekUser td {
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
}

tbody {
    border-top-width: 1px;
    border-top: black;
    border-top-style: solid;
    border-bottom: black;
    border-bottom-style: solid;
   
}






@media (min-width: 992px){
    .optionsPanel {
        margin-top: -115px !important;
    }
}