#picksTable td {
    padding: 3px;
}

#picksTable .headCell {
    font-family: Arial Narrow, Segoe UI, Arial;
}

.sticky {
    top: -1px;
    background-color: #fafafa;
    z-index: 99;
}

.n {
    width: 150px;
    overflow: hidden;
    font-weight: bold;
}

.pts{
    display: block;
    font-style: normal;
    font-weight: normal;
    color: #777777;
    min-width: 150px;
}