.responsive-calendar {
    padding: 0px;
    padding-top: 5px;
}

.responsive-calendar .day-headers {
    margin-top: 10px;
}

.responsive-calendar .day-headers, .responsive-calendar .days {
    font-size: 0;
}

.responsive-calendar .day.header {
    border-bottom: 1px gray solid;
}

.responsive-calendar .day.Sat a {
    border-right: solid 0px #eee;
}

.responsive-calendar .day {
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 14.285714285714286%;
    text-align: center;
    padding: 0;
}

.responsive-calendar .day {
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 14.285714285714286%;
    text-align: center;
}

.responsive-calendar .day a {
    border-right: solid 1px gray;
    border-bottom: solid 1px gray;
    display: block;
    padding: 20% 0 20% 0;
}