@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  

  

.nav-btn {
    padding: 14px 23px;
    font-size: 12px;
    text-transform: uppercase;
    float: right;
    
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 24px;
    font-weight: bold;
    
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar{
    padding: 16px;
    text-align: center;
}

.navigation{
    padding: 20px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 990px){
    .navigation{
        display: none;
    }
}


.alert {
    display: flex;
    align-items: center;
    background-color: black;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 740px;
    animation: fade 1s linear;
  }

  .alert.fade-out {
    animation: fadeOut 1s linear forwards;
  }

  .alert-container.hidden {
    display: none;
  }

  .alert p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    text-align: left;
  }
  
  .alert-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    
  }

  .alert img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
  }
  

