.skill {
    width: 90px ;
    height: 90px;
   
    position: relative;
}

.outer {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7)
    
}

.inner{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255,255, 255, 0.7),
                        -0.5px -0.5px 0px rgba(255,255, 255, 1),
                        0.5px 0.5px 0px rgba(0,0, 0, 0.15),
                        0px 12px 10px -10px rgba(0,0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#number{
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    color: #555;
    font-weight: bold;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    
    transform: rotate(-90deg);
    transform-origin: 45px 45px;
    transition: stroke-dashoffset 0.35s; /* Adjust as needed */
}


svg{
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim {
    100%{
        stroke-dashoffset: 0;
    }
    
}

