*{
    font-family: 'Bebas Neue', sans-serif;
}

.hero {
    width: 100%;
    padding: 1rem;
}
.hero-img {
    width: 100%;
    
}





.homepage-body h1 {
    
    color: white;
    margin: auto    ;
}

.container {
    
}

.rectangle {
    background-color: #F44336;
    width: 13px;
    height: 46px;
}

.title{
    display: flex;
    
}

.homepage-body p {
    font-size: 20px;
    line-height: 170%;
/* or 34px */

    text-align: center;
    color: #FFFFFF;
    margin: 1rem;
}