body {
    background-color: white;
}

.navLogo {
    height: 64px;
    width: 103px;
    
    
}

.navbar {
    padding: 20px ;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}